
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    margin-left: 0.5rem;
  }

  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;
  }


  /* Custom */

  .formContainer {
    max-width: 800px;
    width: 100%;
    text-align: center;
  }

  .usernameInput {
    width: calc(100% - 70px);
    float: left;
  }

  .inputContainer {
    display: flow-root;
    margin-bottom: 30px !important;
  }

  .tabs {
    margin-top: 40px;
    border-radius: 4px;
  }

  .programDescription {
    margin: 40px 0 30px 0;
    line-height: 1.2;
    font-size: 1.2rem;
  }

  a:visited {
    color: blue;
  }

  a:hover {
      color: red;
  }

  .input {
    width: 100%;
  }

  .button {
    margin-top: 20px !important;
    margin-bottom: 25px !important;
    padding: 0px 20px !important;
  }

  .buttonText {
    color: white;
  }

  .iconContainer {
    float: right;
  }

  .circularProgress {
    margin-top: 7px;
    margin-right: 4px;
  }

  .checkIcon {
    color: green;
    font-size: 3rem !important;
    margin-top: 3px;
  }

  .closeIcon {
    color: red;
    font-size: 3rem !important;
    margin-top: 3px;
  }

  .errorMessage {
    margin-top: 20px;
  }

  .progressMessage {
    margin: 0px 0px;
  }

  .linearProgress {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .selectContainer {
    margin: 20px 0px !important;
    width: 200px;
  }
